@charset "UTF-8";

body{
    background-color: rgb(128, 189, 189);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: rgb(26, 78, 78);
}
h2{
    color: rgb(29, 53, 53);
}

h1#isso{
    text-align: center;
    color: azure;
    background-color: black;
}