@charset "UTF-8";

body{
    background-color: rgb(175, 160, 189);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1{
    color: rgb(73, 49, 95);
    background-color: rgb(153, 133, 172);
  }

  h2{
    color: rgb(94, 64, 122);
  }

  p{
    text-align: justify;
  }